@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@font-face {
     font-family: Cereal;
     src: url(fonts/Cereal/AirbnbCereal_W_Lt.eot);
     src: url(fonts/Cereal/AirbnbCereal_W_Lt.eot#) format("eot"), url(fonts/Cereal/WOFF/AirbnbCereal_W_Lt.woff) format("woff");
     font-weight: 300;
     font-style: normal
 }
 
 @font-face {
     font-family: Cereal;
     src: url(fonts/Cereal/AirbnbCereal_W_Bk.eot);
     src: url(fonts/Cereal/AirbnbCereal_W_Bk.eot#) format("eot"), url(fonts/Cereal/WOFF/AirbnbCereal_W_Bk.woff) format("woff");
     font-weight: 400;
     font-style: normal
 }
 
 @font-face {
     font-family: Cereal;
     src: url(fonts/Cereal/AirbnbCereal_W_Bd.eot);
     src: url(fonts/Cereal/AirbnbCereal_W_Bd.eot#) format("eot"), url(fonts/Cereal/WOFF/AirbnbCereal_W_Bd.woff) format("woff");
     font-weight: 600;
     font-style: normal
 }
 
 @font-face {
     font-family: Cereal;
     src: url(fonts/Cereal/AirbnbCereal_W_XBd.eot);
     src: url(fonts/Cereal/AirbnbCereal_W_XBd.eot#) format("eot"), url(fonts/Cereal/WOFF/AirbnbCereal_W_XBd.woff) format("woff");
     font-weight: 700;
     font-style: normal
 }

a {
  color: #6534ff !important;
}

a:hover {
    text-decoration: underline;
}

.cereal {
  font-family: Cereal;
}

.date {
  color: #5f6368;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

.whales {
  width: 300px !important;
  margin: auto !important;
}

.whales-margin {
  margin-top: 1rem;
}

.monospace {
  font-family: 'Roboto Mono', monospace;
}

.title {
  line-height: 32px;
  color: #212121;
  margin-top: 9px;
  letter-spacing: .28px;
}

.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.story {
  font-family: Cereal;
  line-height: 24px;
}

.box {
  border-radius: 0;
  box-shadow: none;
}

.remove-padding {
  padding: 0;
}

.extra-padding {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.footer {
  background-color: #fff !important;
  padding: 2rem 1.5rem 2rem !important;
  color: #5f6368;
  width: 100%;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.heart-icon {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: .5em;
  text-align: center;
  width: 1em;
  margin-left: .25em; 
}

.svg-inline--fa.fa-w-18 {
  width: 1.150em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.150em;
}

.level {
  margin-top: 1rem;
}

.caption {
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  text-align: left;
  margin-bottom: 1rem;
}

.currently-working {
  color: #7a7a7a;
}

.blackhole {
  font-size: 20vw;
  margin-top: 5rem;
}

.anchor {
  margin: 1rem;
  padding-left: 3px;
}

.hero-less-bottom-padding {
  padding-bottom: 6.5rem !important;
}

.title-secondary-color {
  color: #424242;
}

.home-title {
  color: #424242;
  text-align: left;
  line-height: 0px;
  padding-bottom: 1rem;
  font-size: 3rem;
}

.vit-color {
  color: #3949AB !important;
}

.xkcd-color {
  color: #7A7A7A !important;
}

.blog-color {
  color: #D60270 !important;
}

.reddit-color {
  color: #FF4500 !important;
}

.footer-icon {
  vertical-align: -7px;
}

.build-tag {
  margin-left: auto;
  margin-right: auto;
  padding-left: 9px;
}

.stats {
  position: fixed;
  z-index: 999;
  font-size: 0.7rem;
  bottom: 1rem;
  right: 1rem;
}

.changelog-date {
  display: block;
  min-width: 8rem;
}

.changelog-desc {
  display: flex;
  flex-direction: column;
}

.changelog-parent {
  display: flex;
  justify-content: flex-start;
}

.changelog-info {
  font-size: 0.7rem;
  display: block;
  visibility: hidden;
  max-height: 0;
  transition: visibility 0s, max-height 0.5s linear;
}

.remove-bottom-padding {
  padding-bottom: 0;
}

a.contact {
  color: #eb0000 !important;
}

.contact-email-margin {
  margin-left: 1.1rem;
}

.input {
  box-shadow: none;
  border: 2px solid;
  border-color: #b5b5b5;
}

.playlist-hero {
  margin-top: 3rem;
  height: 30rem !important;
}

audio {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.album-art img {
  border-radius: 3px !important;
  margin: 0;
}

.progress {
  height: 0.5rem !important;
}

.song-parent {
  display: flex;
  justify-content: flex-start;
}

.song-parent:hover {
  background: white;
  color: #424242 !important;
  margin-bottom: 0.3rem;
}

.song-parent .title:hover {
  color: #424242;
}

.song-date {
  font-size: 0.7rem !important;
}

.song-name {
  cursor: pointer;
  margin: 0;
  margin-left: 1rem;
}

.song-duration {
  font-size: 0.7rem !important;
  margin-right: 0.5rem;
}

.song-meta {
  margin-bottom: 1.5rem;
}

.player-reduce-margin {
  margin-bottom: -3rem !important;
}

.xkcdtime {
  margin: 0;
  margin-bottom: -10px;
  width: 100%;
}

.play-circle svg {
  vertical-align: middle;
}

.song-loading {
  margin-left: auto;
}

.playlist-loading {
  line-height: 20px;
}

@media (max-width: 769px) {
  .caption {
    font-size: 14px;
  }
  .timeline {
    padding: 1rem;
    font-size: 0.75rem !important;
  }
  iframe {
    border: none;
    width: calc(100vw - 2.5rem);
    height: 50.8vw;
    border-radius: 0;
  }
}

@media (min-width: 769px) {
  img {
    margin-top: 1rem;
    height: auto;
    max-width: 250% !important;
    margin-left: calc(-75%);
  }
  iframe {
    border: none;
    width: 60vw;
    height: 33.75vw;
    margin-left: -50%;
    border-radius: 0;
    overflow-y: auto;
  }
  .caption {
    width: 150%;
    margin-left: calc(-25%);
  }
  .column.is-offset-4-modified, .column.is-offset-4-tablet-modified {
    margin-left: 25%;
  }
  .column.is-4-modified, .column.is-4-tablet-modified {
    flex: none;
    width: 50%;
  }
}